NET "clk" TNM_NET = "clk";
TIMESPEC "TS_clk" = PERIOD "clk" 16 MHz HIGH 50 %;
OFFSET = IN 20 ns BEFORE "clk";
OFFSET = OUT 20 ns AFTER "clk";
OFFSET = IN 26 ns BEFORE "ale" LOW;

NET "clk" LOC = "P43" | BUFG = CLK;
NET "rst" LOC = "P33";
NET "ale" LOC = "P44";
NET "rd" LOC = "P36";
NET "ad<0>" LOC = "P5";
NET "ad<1>" LOC = "P6";
NET "ad<2>" LOC = "P7";
NET "ad<3>" LOC = "P8";
NET "ad<4>" LOC = "P3";
NET "ad<5>" LOC = "P2";
NET "ad<6>" LOC = "P1";
NET "ad<7>" LOC = "P42";
NET "q0<0>" LOC = "P28";
NET "q0<1>" LOC = "P27";
NET "q1<0>" LOC = "P31";
NET "q1<1>" LOC = "P30";
NET "i0" LOC = "P29";
NET "i1" LOC = "P32";
NET "dir0" LOC = "P39";
NET "brk0" LOC = "P12";
NET "pwm0" LOC = "P37";
NET "fs0" LOC = "P21";
NET "en0" LOC = "P22";
NET "in0a" LOC = "P20";
NET "in0b" LOC = "P23";
NET "dir1" LOC = "P40";
NET "brk1" LOC = "P13";
NET "pwm1" LOC = "P38";
NET "fs1" LOC = "P16";
NET "en1" LOC = "P18";
NET "in1a" LOC = "P14";
NET "in1b" LOC = "P19";
NET "led" LOC = "P34";
NET "x7" LOC = "P41";
