obj
tags
*.pyc
*.avr.elf
*.avr.lst
*.simu.elf
*.stm32f4.elf
*.stm32f4.lst
*.stm32f4.bin
*.hex
*.host
.*.swp
*.[sbl]#[0-9#]
*.pro
*.mpd
fsm_AI_gen.avr.c
angfsm_gen_avr_AI.h
angfsm_gen_arm_AI.arm.c
angfsm_gen_arm_AI.h
AI.dot
AI.png
AI.svg
flash.apb
libopencm3
