NET "clk" TNM_NET = "clk";
TIMESPEC "TS_clk" = PERIOD "clk" 16 MHz HIGH 50 %;
OFFSET = IN 20 ns BEFORE "clk"  ;
OFFSET = OUT 20 ns AFTER "clk"  ;
OFFSET = IN 26 ns BEFORE "ale" LOW ;

NET "clk"  LOC = "P5" | BUFG = CLK;
NET "ale" LOC = "P6";
NET "rd" LOC = "P42";
NET "rst" LOC = "P39";
NET "wr" LOC = "P4";
NET "ad<0>" LOC = "P28";
NET "ad<1>" LOC = "P29";
NET "ad<2>" LOC = "P33";
NET "ad<3>" LOC = "P34";
NET "ad<4>" LOC = "P35";
NET "ad<5>" LOC = "P36";
NET "ad<6>" LOC = "P37";
NET "ad<7>" LOC = "P38";
NET "q0<0>" LOC = "P3";
NET "q0<1>" LOC = "P2";
NET "q1<0>" LOC = "P9";
NET "q1<1>" LOC = "P8";
NET "q2<0>" LOC = "P12";
NET "q2<1>" LOC = "P11";
NET "q3<0>" LOC = "P14";
NET "q3<1>" LOC = "P13";
