NET "clk" TNM_NET = "clk";
TIMESPEC "TS_clk" = PERIOD "clk" 16 MHz HIGH 50 %;
OFFSET = IN 20 ns BEFORE "clk"  ;
OFFSET = OUT 20 ns AFTER "clk"  ;

NET "clk" LOC = "P5" | BUFG = CLK;
NET "count<0>" LOC = "P28";
NET "count<1>" LOC = "P29";
NET "count<2>" LOC = "P33";
NET "count<3>" LOC = "P34";
NET "count<4>" LOC = "P35";
NET "count<5>" LOC = "P36";
NET "count<6>" LOC = "P37";
NET "count<7>" LOC = "P38";
NET "oe" LOC = "P42";
NET "q0<0>" LOC = "P3";
NET "q0<1>" LOC = "P2";
NET "q1<0>" LOC = "P9";
NET "q1<1>" LOC = "P8";
NET "q2<0>" LOC = "P12";
NET "q2<1>" LOC = "P11";
NET "q3<0>" LOC = "P14";
NET "q3<1>" LOC = "P13";
NET "rst" LOC = "P39";
NET "sel<0>" LOC = "P26";
NET "sel<1>" LOC = "P27";
